.landing {
  margin: 10% auto 10% auto;
}

.desc {
  border: none;
  background-color: #bf9270;
  color: #fffbe9;
}

.links {
  border: none;
  background-color: #ffeddb;
}

body {
  background-color: #fff8e1;
}

p {
  text-align: center;
  font-size: small;
}
