<div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/jianni-jennifer-hu-2b110910b/" target="_blank">LinkedIn</a>
    <a class="footer-link" href="https://github.com/HujiAnni" target="_blank">GitHub</a>
    <a class="footer-link" href="https://www.facebook.com/HujiAnni" target="_blank">Facebook</a>
    <a class="footer-link" href="mailto:jh2585@cornell.edu">Email</a>
    <p class="copyright">&copy; <%= let dt = new Date(); dt.getFullYaer() %> Jennifer Hu.</p>
  </div>